body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.avatar img {
  object-fit: cover;
}

.avatar--nav img {
  width: 45px;
  height: 45px;
}

.avatar--post img {
  width: 70px;
  height: 70px;
}

.avatar--user-card img {
  width: 150px;
  height: 150px;
}

.avatar--about img {
  width: 300px;
  height: 300px;
}